{% extends 'base.html' %}
{% include '_helpers.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    
{{ field.name }}

    <div class="container">
	<div class="row">
	    <div class="col">
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
		    {% for field in form %}
			<div class="fieldWrapper">
			    {{ field.errors }}
			    {{ field.label_tag }} {{ field }}
			    {% if field.help_text %}
			      <p class="help" id="{{ field.auto_id }}_helptext">
				{{ field.help_text|safe }}
			      </p>
			    {% endif %}
			</div>
		{% endfor %}
		  <input type="submit" value="Entrar" class="btn btn-primary">
		</form>
	    </div>
	</div>
    </div>
    {% endblock %}
