body {
  background-color: red;
}

#main-container {
  border-style: solid 5px;
}

p {
  color: black solid;
}

span {
    color: #1c2569 bold;
    font-size: 16px;
}

.cont-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
