{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
	<div class="col">
	    <span style="font-size: 18px; color: red;">Usuario Actual:</span>{{ user.get_username }}
{% if user.is_authenticated %}
	</div>
    </div>
</div>
     
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
            <th scope="col">#ID</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Nombre</th>
            </tr>
          </thead>
          <tbody>
            {% for ctx in page_obj %}
            <tr>
              <td>{{ ctx.1 }}</td>
              <td>{{ ctx.3 }}</td>
              <td>{{ ctx.4 }}</td>
              <td>
                <div class="info">
                  <a href="{% url 'info' ctx.1 %}">Ver Información</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
	<div class="pagination">
	    <span class="step-links">
		{% if page_obj.has_previous %}
		  <a href="?page=1">&laquo; first</a>
		  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
		    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		</span>
    
		{% if page_obj.has_next %}
		    <a href="?page={{ page_obj.next_page_number }}"> next</a>
		    <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
		{% endif %}
	    </span>
	    </span>
	</div>
      </div>
    </div>
  </div>
  {% else %}
    <h1>Error</h1>
  {% endif %}

{% endblock %}
