{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
            <th scope="col">#ID</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Nombre</th>
            </tr>
          </thead>
          <tbody>
            {% for ctx in ctx %}
            <tr>
              <th scope="row">{{ ctx.0 }}</th>
              <td>{{ ctx.2 }}</td>
              <td>{{ ctx.3 }}</td>
              <td>
                <div class="info">
                  <a href="{% url 'info' ctx.0 %}">Ver Información</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



{% endblock %}
