{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
	<div class="row">
	    <div class="col">
		<form method="GET">
		    {% csrf_token %}
		    {{ form }}

		    <div>
			<input type="submit" value="Buscar" class="btn btn-primary">
		    </div>
		</form>
	    </div>
	</div>
    </div>

    <div class="container mt-5">
	<div class="row">
	    <div class="col">
	    	<p><span>ID: </span>{{ ctx.1 }}</p>
		<p><span>MARCA TEMPORAL: </span>{{ ctx.2 }}</p> 
		<p><span>MATRICULA: </span>{{ ctx.3 }}</p> 
		<p><span>NOMBRE: </span>{{ ctx.4 }}</p> 
		<p><span>FECHA NACIMIENTO: </span>{{ ctx.7 }}</p> 
		<p><span>CATEGORIA: </span>{{ ctx.8 }}</p> 
		<p><span>ADSCRIPCIÓN: </span>{{ ctx.9 }}</p> 
		<p><span>ADSCRIPCIÓN ANTERIOR: </span>{{ ctx.10 }}</p> 
		<p><span>TURNO: </span>{{ ctx.11 }}</p> 
		<p><span>DOMICILIO: </span>{{ ctx.12 }}</p> 
	    </div>
	    <div class="col">
		<p><span>COLONIA: </span>{{ ctx.13 }}</p> 
		<p><span>MUNICIPIO: </span>{{ ctx.14 }}</p> 
		<p><span>SECCIONAL: </span>{{ ctx.15 }}</p> 
		<p><span># CELULAR: </span>{{ ctx.16 }}</p> 
		<p><span>CORREO: </span>{{ ctx.17 }}</p> 
		<p><span>ENCARGADO ESTRUCTURA: </span>{{ ctx.18 }}</p> 
		<p><span>RESPONSABLE 100: </span>{{ ctx.19 }}</p> 
		<p><span>RESPONSABLE 10: </span>{{ ctx.20 }}</p> 
		<p><span>PARTICIPACIONES DEL TRABAJADOR: </span>{{ ctx.21 }}</p>
	    </div>
	    <div class="col">
		<p><span>INFORMACIÓN ADICIONAL: </span>{{ ctx.22 }}</p> 
		<p><span>DESCANSOS: </span>{{ ctx.23 }}</p> 
		<p><span>VACACIONES PROGRAMADAS: </span>{{ ctx.24 }}</p> 
		<p><span>SERVICIO: </span>{{ ctx.25 }}</p> 
		<p><span>PROMOCIÓN: </span>{{ ctx.26 }}</p> 
		<p><span>MOVILIZACIÓN: </span>{{ ctx.27 }}</p> 
		<p><span>RESPONSABLE: </span>{{ ctx.28 }}</p>
	    </div>
	</div>
    </div>
{% endblock %}
